<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leaf.xNet" version="5.2.10" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net461" />
</packages>